nav {
    height: 100px;
}
.jumbotron h1 {
    font-size: 50px;
}  
.jumbotron p {
    font-size: 20px; 
}
.jumbotron a {
    font-size: 18px;
}
.navbar-default {
    background-color: #269abc;
}
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-brand {
    text-shadow: 2px 2px #889;
    color: #FCEB55;
    font-weight: 900;
    font-size: 35px;
    height: 130px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #ffffff;
    background-color: #26addd;
}
.navbar-right{
    position: absolute;
    bottom: 0px;
    right:20%;
}
.navbar-default .navbar-toggle:hover {
    background-color: #ffffff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
     background-color: #269abc;
 }
.btn-primary {
    background-color: #269abc;
    border-color: #269abc;
}
.btn-primary:hover {
    background-color: #26addd;
    border-color: #269abc;
}
.navbar-brand {
    background-image: url("../images/gavel.png");
    background-repeat: no-repeat;
    font-size: 30px;
    height: 120px;
}
@media (max-width: 1350px) {
}
@media (max-width: 1200px) {
    .navbar-right {
        right: 10%;
    }
}
@media (max-width: 770px) {
    .jumbotron h1 {
        font-size: 30px;
    }
    .jumbotron p {
        font-size: 16px;
    }
    .jumbotron a {
        font-size: 16px;
    }
    .navbar-default .navbar-brand {
        font-size: 25px;
        text-shadow: none;
    }
    nav {
        height: 50px;
    }
    .navbar-brand {
        height: 53%;
        background-image: none;
    }
}
